.done {
    text-decoration:line-through;
}

.todo-item {
    margin: 0.8rem 0;
}
.todo-margin {
    margin: 1.4rem;
}

.wide-input {
    width: 100%;
}

.search-input {
    width: 70%;
}

.search-button {
    width: 20%;
}